@import "~font-awesome/css/font-awesome.css";
@import "./lib/normalize.css";
@import "./lib/chrome-tabs.css";

.chrome-tabs {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
.chrome-tabs .chrome-tab {
  -webkit-app-region: no-drag;
  width: 243px;
}

.chrome-tabs .chrome-tab:nth-child(1) {
  transform: translate3d(0px, 0, 0)
}

.chrome-tabs .chrome-tab:nth-child(2) {
  transform: translate3d(229px, 0, 0)
}


body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

